.nova-senha-background {
  background-image: url('../../assets/login-sala.webp');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nova-senha-card {
  width: max(30vw, 300px);
}

.nova-senha-botoes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}