.cadastrar-se-background {
  background-image: url('../../assets/login-sala.webp');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 1fr max-content 1fr;
  justify-content: center;
  align-items: center;
}

.cadastrar-se-card {
  width: min(80vw, 300px);
  grid-column-start: 2;
  grid-row-start: 2;
  max-height: calc(100vh - var(--padding-length) * 2);
  overflow-y: auto;
}

